.error {
  color:red;
  border:2px solid red;
}

/* タスク部分のデザイン */
/*.todo{
  clear: both;
  border-top: 1px solid #ccc;
  padding:1px 0;
}

.todo p{
  margin-top: 0;
  margin-bottom: 0;
}

.finished{
  background-color:#D8D8D8 ;
}

.todo .day,
.todo .day a {
  font-size: 80%;
  color: #999;
}

/* ページング */
ul {
  list-style: none;
}

li{
  display: inline-block;
}
*/
